.wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.leftImgWrapper{
    display: flex;
    justify-content: flex-end;
}

.left{
    width:80%;
    margin-top: 15%;
}

.rightImgWrapper{
    display: flex;
    justify-content: flex-start;
}

.right{
    width: 70%;
    margin-top: 15%;
}

.title{
    text-align: center;
    font-size: xx-large;
}

.images{
    width: 100%;
    display: flex;
}