nav ul {
    list-style: none;
    display: flex;
    background-color: #131921;
    margin-bottom: 20px;
}

nav ul li {
    padding: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.current {
    border-bottom: 4px solid white;
}

.login{
    margin-left: auto;
    margin-right: 0;
}

.signUp{
    margin-right: 0;
}

.title {
    color: white;
    flex: 3;
    text-align: center;
    padding: 5px;
    margin: 0px;
}

.fill{
    color: #131921;
}