table {
    border-spacing: 10px;
    border-collapse: separate;
    border: 2px solid black;
}
thead{
    border: 2px solid black;
    margin: 5px;
    padding: 5px;
}

td{
    border: 2px solid black;
    margin:5px;
}

.noStock{
    color:red;
    font-weight: bolder;
}


.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: auto;
    width: 50%;
    text-align: center;
}

.searchWrapper{
    border: 2px solid #131921;
    background-color: #e0e0e0;
    margin: 20px;
    padding: 20px;
}

.searchWrapper form{
    display: flex;
    padding: 5px;
}

.searchWrapper input {
    width: 90%;
    margin: 0px 5px;
}

.searchWrapper button{
    width: 10%;
}

.searchTableWrapper{
    border: 2px solid #131921;
    background-color: #e0e0e0;
}
