.Login {
    padding: 60px 0;
}

.Login form {
    margin: 0 auto;
    max-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.formError {
    color: red;
    margin: 0 auto;
}
